/*header{
    overflow: hidden;
    background-color: #f1af09;
    padding: 20px 10px;
}
nav{
    height: 50px ;
    background-color: #f1af09;
    width: 100vw;
}
ul{
 list-style-type: none;
  margin: 10px;
  padding:  25px 50px 75px 100px;
  width: 200px;
  background-color: pink;
}
li{
    display: block;
    color:pink;
    padding: 5px 13px;
    text-decoration: none;

}
h1{
    color: pink;
}

footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 20px;
}*/

*{
    margin: 0px;
    padding: 0px
}
body{
background: black;
font-family: ralawey, sans-serif,serif;
color: black;
}


nav{
    background-color: #FF1493;
    margin-top: 1px;
    padding: 5px;
}
nav ul li{
    color:#f1af09 ;
    display: inline;
    margin-right: 20px;
    text-transform: capitalize;
}
li a:hover{
    color: #FF7171;
    height: 25px;
}
a.menu{
    text-decoration: none;
    color:#ffea00
}
main{
    margin-left:  5%;
    margin-right: 5%;
    height: 600px;
    padding: 10px;
}
section{
    height: 500px;
    background-color:#d2d2d2;

    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}
.esquerda{
    width: 25%;
    float: left;
}
.direita{
    width: 65%;
    float: right;
}
h2,article h2{
   border-bottom: 1px solid gray;
   margin: 5px;
   color: #960000;
}
article{
    background-color: white;
    border-radius: 5px;
    border: 1px dotted gray;
    box-shadow: 10px 5px 10px gray;
    padding: 10px;
    margin: 20px 20px;
    text-align: justify;
}
footer{
    background-color: deeppink;
    height: 300px;
}
div.tabela{
    display: table;
}
div.celula{
    border: 1px dotted #d0c6c6;
    display: table-cell;
    padding: 10px;
    width: 33%;
    color: #960000;
}
a{
    color: #636262;
}
a:hover{
    color: #960000;
}
main section p{
    font-size: large;
}
